version: "3"
services:
  database:
    container_name: db
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: secret
    volumes:
      - ./date_postgres:/var/lib/postgresql/data
    ports:
      - '5432:5432'
  web:
    container_name: pythonproj
    image: userartem2020/python_project123:latest
    build:
      context: .
      dockerfile: Dockerfile
    command: python manage.py runserver 0.0.0.0:8000  
    ports:
      - '8000:8000'
    depends_on:
      - database
    volumes:
      - ./mysite:/home/test/PycharmProjects/pythonProject123/mysite
